@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #f9f9fb;
$color-dark: #444;
$color-logo: #ED4C67;
$color-link: #227093;
$font-logo: 'Sacramento',
cursive;
$font-header: 'Oswald',
sans-serif;
$font-text: 'Source Sans Pro',
sans-serif;

/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: url("https://i.postimg.cc/6qVkfDCv/close-up-coffee-creative-905868.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font-text;
    color: $color-dark;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-size: 22px;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 600;
    // color: $color-logo;
    color: lighten($color-logo, 5%);
    span {
        text-transform: none;
        font-weight: 400;
        //color: lighten($color-logo, 20%);
    }
}


/* Layout */

.wrapper {
    display: flex;
    margin-left: 10px;
}

.sidebar {
    flex: 1 0 0;
}

.posts {
    flex: 2 0 0;
}

.sidebar,
.posts {
    background: $color-light;
    margin-right: 10px;
    padding: 40px;
    padding-right: 20px;
    border: 1px solid $color-dark;
    border-radius: 5px;
}


/* Logo */

.logo {
    font-family: $font-logo;
    font-weight: 400;
    font-size: 104px;
    line-height: 1;
    text-align: center;
    color: $color-logo;
}


/* Lists */

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .active {
        font-weight: bold;
    }
}

.list-horizontal {
    li {
        display: inline-block;
    }
}

.tags li {
    display: inline-block;
}


/* Authors */

.authors {
    li {
        margin-bottom: 12px;
    }
}


/* Post */

.post {
    opacity: 0;
    z-index: 1;
    position: absolute;
    &.active {
        opacity: 1;
        z-index: 100;
        padding-right: 1em;
        position: absolute;
    }
    transition: opacity .6s ease-in-out;
    a[href ^="#author"] {
        color: $color-dark;
    }
}

.post-author {
    font-style: italic;
}

.post-tags {
    display: flex;
    p {
        margin: 0 10px 0 0;
    }
}

.inner {
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    position: relative;
}

::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey;
}


/* Tags*/

a {
    color: $color-link;
    text-decoration: none;
}

a[href ^="#tag-"] {
    padding-right: 8px;
}

a[class="tag-size-5"] {
    font-size: 200%;
}

a[class="tag-size-4"] {
    font-size: 180%;
}

a[class="tag-size-3"] {
    font-size: 160%;
}

a[class="tag-size-2"] {
    font-size: 130%;
}

a[class="tag-size-1"] {
    font-size: 90%;
}
